:root {
  /* Colors */
  --color-primary: #ef767a;
  --color-secondary: #f8f8f8;
  --color-dark: #000000;

  /* padding */
  /* for nav & footer */
  --padding-outer: 1.5rem;

  /* Weights */
  --hairline-weight: 100;
  --thin-weight: 200;
  --light-weight: 300;
  /* regular per https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight */
  --regular-weight: 400;
  --medium-weight: 500;
  --semibold-weight: 600;
  --bold-weight: 700;
  --xbold-weight: 800;
  --dark-weight: 900;
}

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* base styles  */
body {
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

/* font faces */
/* NOTE: Using just /fonts for path did not work for me (FF froze at first). Font loaded after I tried in Chrome (probably b/c Chrome downloaded Roboto for computer??). Thought Ty put in public??
Fix is to use the relative path up to public. */

/* NOTE: there is a bug with the browser freezing:
  https://github.com/vercel/next.js/issues/10061
  This is particularly noticeable with working with traditional font files
*/

/* Roboto */
@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: var(--regular-weight);
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: var(--bold-weight);
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto/Roboto-BoldItalic.ttf");
  font-weight: var(--bold-weight);
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../public/fonts/Roboto/Roboto-Light.ttf");
  font-weight: var(--light-weight);
}
