:root {
  /* Colors */
  --color-primary: #ef767a;
  --color-secondary: #f8f8f8;
  --color-dark: #000000;

  /* padding */
  /* for nav & footer */
  --padding-outer: 1.5rem;
}

/* reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* base styles  */
body {
  font-size: 1rem;
}

ul {
  list-style-type: none;
}

